@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Vazir FD";
    src: url(/fonts/VazirThinFD.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url(/fonts/VazirLightFD.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url(/fonts/VazirNormalFD.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url(/fonts/VazirMediumFD.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url(/fonts/VazirBoldFD.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url(/fonts/VazirBlackFD.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
}

@layer base{
    *{
        @apply font-vazir;
    }

    html{
        scroll-behavior: smooth;
    }
}